:root{
  --primary-color:white;
  --secondary-color:#090910;
  --tertiory-color:#1e1e2f;
}

.dark-theme{
  --primary-color:#12192f;
  --secondary-color:white;
  --tertiory-color:#020c1b;
}

body{
  font-family: Arial;
  margin:0;
  background:var(--primary-color);
  transition:0.3s;
}

/* ===== NAVBAR ===== */

nav{
  background:var(--tertiory-color);
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

nav ul{
  flex:1;
  text-align:right;
}

nav ul li{
  list-style:none;
  display:inline-block;
}

nav ul li a{
  color:white;
  margin:10px 20px;
  text-decoration:none;
}

nav ul li a:hover{
  color:var(--primary-color);
}

#icon{
  width:25px;
  cursor:pointer;
}

/* ===== HEADER ===== */

.main-header{
  background:#4c1d95;
  color:white;
  padding:64px 16px;
  text-align:center;
}

.header-title{
  font-size:2.5rem;
  font-weight:800;
  margin-bottom:16px;
}

.header-subtitle{
  color:#ddd6fe;
  font-size:1.1rem;
  margin-bottom:32px;
}

.search-box{
  display:flex;
  gap:8px;
  justify-content:center;
  max-width:500px;
  margin:0 auto;
}

.search-input{
  padding:12px;
  border-radius:8px;
  border:none;
  width:100%;
}

.search-btn{
  background:#ec4899;
  color:white;
  padding:12px 32px;
  border-radius:8px;
  border:none;
  font-weight:bold;
  cursor:pointer;
}

/* ===== 3 IMAGE SLIDER ===== */

.carousel-container{
  height: 100%;
  width:100%;
  overflow:hidden;
  margin:40px auto;
}
.carousel-track{
  display:flex;
  transition:transform 0.6s ease-in-out;
  will-change: transform;
  transform: translateZ(0);
}


.slide{
  min-width:33.33%;   /* 3 images visible */
  padding:10px;
  box-sizing:border-box;
}

.slide img{
  width:100%;
  height:260px;
  object-fit:cover;
  border-radius:15px;
}

/* Mobile */
@media(max-width:768px){
  .slide{
    min-width:100%;
  }
}

/* ===== FEATURES ===== */

.features{
  padding:40px;
  color:var(--secondary-color);
}

.features h2{
  color:var(--secondary-color);
}

/* ===== FOOTER ===== */

footer{
  background:var(--tertiory-color);
  padding:15px;
  color:white;
}

.foot-panel{
  display:flex;
  padding:15px;
}

.foot-panel ul{
  list-style:none;
  padding:10px;
}

.foot-panel ul a{
  text-decoration:none;
  color:white;
}

.foot-panel ul a:hover{
  text-decoration:underline;
}
